{
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": "./",
        "alias": {
          "@": "./src"
        }
      }
    ]
  ],
  "presets": ["@babel/preset-typescript"]
}
